@import '../../theme.scss';

#contact {
  text-align: center;
  form {
    text-align: left;
    margin: 72px auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    textarea {
      min-height: 200px;
    }
    .re-captcha {
      margin: 32px 0;
    }
    .actions {
      text-align: right;
      .mat-button {
        font-size: 20px;
        padding: 8px 24px;
        // border-radius: 0;
        background-color: transparent;
        color: $color-neutral-dark;
      }
      .send {
        background-color: $color-success;
        margin-left: 8px;
        color: $color-white;
      }
    }
  }
}
