<app-page-header></app-page-header>

<div class="page-content" id="contact">

  <div class="container">

    <section>

      <form>
        <mat-form-field appearance="outline">
          <mat-label>Your name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Message</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-checkbox color="primary">Keep me posted about relevance.io</mat-checkbox>
        <div class="re-captcha">
          Re-Captcha
        </div>
        <div class="actions">
          <button mat-button>Reset</button>
          <button mat-button class="send">Send</button>  
        </div>
      </form>

    </section>

  </div>

  <app-page-footer></app-page-footer>
  
</div>

