@import '../../theme.scss';

:host ::ng-deep {
  background-color: $color-black !important;
  header {
    background-color: transparent !important;
    position: absolute;
    z-index: 999;
    width: 100%;
    a {
      color: white !important;
    }
    a:hover {
      background-color: transparent !important;
    }
  }
  footer {
    background-color: $color-black!important;
    border-top: 1px dashed $theme-neutral-4 !important;
    p {
      color: $color-white;
    }
  }
}

h1 {
  text-align: center;
  margin-top: 48px;
  font-size: 44px;
}

h2 {
  margin: 12px 0 24px 0;
}

button {
  font-size: 22px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 12px;
}

section > .container {
  padding: 48px 0;
}

#home {
  // background-color: $theme-neutral-2;
}

section {
  // background-color: $color-black;
}

.feature {
  color: $theme-white;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  background-color: #595959;
  .container {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    text-align: center;
    background-image: url("/assets/images/model-training.png");
    background-position: bottom;
    background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
    h1 {
      display: inline-block;
      font-weight: 200;
      max-width: 700px;
      font-size: 60px;
      line-height: 72px;
      letter-spacing: 3px;
      color: $theme-yellow-5;
      // text-transform: uppercase;
      // border: 0 solid $theme-yellow-5;
      color: $color-white;
      margin: 0 auto 36px auto;
      padding: 20px 0;
      strong {
        font-weight: 300;
      }
    }
    p {
      font-size: 18px;
      margin-bottom: 40px;
    }
}
  // img {
  //   // display: inline-block;
  //   max-width: 800px;
  //   width: 100%;
  //   // height: 546px;
  //   // height: 640px;
  //   // padding: 0 48px;
  //   text-align: center;
  //   object-fit: cover;
  //   margin: 0px 0 0 0;
  //   -webkit-transition: opacity 1s ease-in-out;
  //   -moz-transition: opacity 1s ease-in-out;
  //   -o-transition: opacity 1s ease-in-out;
  //   transition: opacity 1s ease-in-out;
  // }
  // .doodle {
  //   width: 550px;
  //   padding: 150px 0;
  //   border: 1px dashed white;
  //   display: inline-block;
  // }

}

.products {
  color: $theme-neutral-4;
  background-color: $color-white;
  padding: 24px 24px 80px 24px;
  text-align: center;
  .container {
    padding-bottom: 0;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 300;
    // max-width: 800px;
    margin: 0 auto 24px auto;
    strong {
      font-weight: 400;
    }
  }
  p {
    font-size: 20px;
  }
  .mat-button {
    border-radius: 99px;
    padding: 8px 32px;
    background-color: $theme-blue-7;
  }
}

.engine {
  padding: 0 0 48px 0;
  background-color: $theme-neutral-2;
  .container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    ul {
      padding: 0 24px;
      li {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 16px 0;
      }
    }
  }
}

.labs {
  text-align: center;
  background-color: $theme-bg-4;
  padding-bottom: 48px;
  h2 {
    margin-top: 36px;
    margin-bottom: 48px;
  }
  p {
    font-size: 20px;
  }
  img {
    max-width: 450px;
  }
}

.cta {
  text-align: center;
  background-color: $theme-white;
  button {
    background-color: $theme-blue-4;
  }
}
