<app-page-header></app-page-header>

<div class="page-content" id="home">

  <section class="feature">

    <div class="container">
      <span class="grow"></span>
      <h1>Making Interactive Data Science simple and accessible</h1>
      <!-- <p>Learn about <a href="/mission">why we embarked on this journey</a></p> -->

      <!-- <div class="doodle">refreshed doodle soon</div> -->
      <!-- <div><img src="./../../assets/images/doodle-pic.png"></div> -->

    </div>

  </section>

  <section class="products">

    <div class="container">
      <h2>Innovative products for <strong>data scientists</strong> and <strong>developers</strong></h2>

      <!-- <div class="doodle">Appliance doodle</div> -->

      <!-- <p>The tools you need to gather, enrich and curate your data.</p> -->

      <!-- <h2>Geeky, yet easy to use</h2>
      <p>The tools you need to gather, enrich and curate your data.</p> -->
      <button mat-button (click)="openContactDialog()">Coming soon...</button>

    </div>

  </section>


  <!-- <section class="labs">

    <div class="container">

      <h2>Built with <strong>relevance.io</strong></h2>

      <a href="/labs"><img src="../../assets/images/departed_io.png"></a>
      <a href="/labs"><img src="../../assets/images/departed_io.png"></a>

    </div>

  </section> -->

  <!-- <section class="cta">

    <div class="container">

      <button mat-button (click)="openContactDialog()">Get in touch</button>

    </div>

  </section> -->



  <app-page-footer></app-page-footer>
</div>


