<app-page-header></app-page-header>

<div class="page-content" id="labs">

  <div class="container">

    <!-- <h1>Free apps built on top of <strong>relevance.io</strong></h1> -->
    
    <section class="projects">

      <div class="card intro">

        <h1>Labs</h1>
        <!-- <h2>Live experients running on top of our engine</h2> -->

        <!-- <p>
          You have cool data and find it too long to build ES apps from scratch?
          We're opening up our APIs soon and are looking for data nerds to build cool stuff with us.
        </p> -->

        <p>
          We build apps and other experiements on top of the Relevance Retroaction Engine and sometimes we feel the result is worth sharing. 
        </p>
        <p>
          All our lab projects are built using the Relevance SDK on top of the Relevance Retroaction Engine.
  

          <!-- 
          SDK Version
          Libs
          Full doc
          SIGNUP AS DEV -->

        </p>

      </div>

      <div class="card">
       
        <a target="_blank" href="https://mean.st"><img src="../../assets/images/mean_st.png"></a>

        <h3>Mean.St</h3>

        <p>
          Mean.St is a innovative way to get a quick and meaningful view of a stock performance overtime.
        </p>
        <p>
          <a target="_blank" href="https://mean.st">Visit Mean.St</a>
        </p>

      </div>

      <div class="card">
       
        <a target="_blank" href="https://www.departed.io"><img src="../../assets/images/departed_io.png"></a>

        <h3>Departed.io</h3>

        <p>
          Departed.io is designed to simplify death notices discovery for the most demanding genealogy researcher.
        </p>
        <p>
          <a target="_blank" href="https://www.departed.io">Visit project</a>
        </p>

      </div>


    </section>

  </div>
  
  <app-page-footer></app-page-footer>
  
</div>
