@import '../../theme.scss';
#labs {
  .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: 0 0 64px 0;
    .card {
      margin-top: 40px;
      margin-bottom: 16px;
      min-width: 370px;
      max-width: 370px;
      img {
        width: calc(100% - 72px);
        object-fit: cover;        
        margin: 16px 36px 18px 36px;
      }
      h3 {
        margin: 0 48px;
        font-size: 24px;
      }
      p {
        margin: 16px 48px;
        font-size: 14px;
      }
    }
    .intro {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        margin: 0 32px 0 32px;
        padding: 24px 40px 18px 40px;
        background-color: $color-bg-dark;
      }
      h2 {
        font-size: 18px;
        line-height: 22px;
        margin: 0 32px 0 32px;
        padding: 0 40px 32px 40px;
        background-color: $color-bg-dark;
      }
      p {
        // border-top: 1px solid $color-neutral-lighter;
        font-size: 16px;
        line-height: 22px;
        margin: 0 32px 0 32px;
        padding:  32px 40px 0 40px;
        background-color: $color-bg;
      }
      p:last-child {
        flex-grow: 1;
        padding-bottom: 32px;
      }
    }
  
    .card.more {
      h3 {
        margin-top: 164px;
        text-align: center;
      }
    }
  }
}
