<app-page-header></app-page-header>

<div class="page-content" id="mission">

  <div class="container">

    <section class="intro">

      <h1>Towards the ubiquitous <a href="https://blogs.gartner.com/carlie-idoine/2018/05/13/citizen-data-scientists-and-why-they-matter/" target="_blank">Citizen Data Scientist</a></h1>

      <div>
      <p>
        Having worked in the Search/NLP/ML and Data Science spaces for the last decade, we got to understand how tedious and costly preparing datasets for a data science project can be.
      </p>
      <p>
        Many of the nice off-the-shelf tools <!-- like <a href="https://data.world/" target="_blank">data.world</a>, <a href="https://www.google.ca/sheets/about/" target="_blank">Google Sheets</a> and <a href="https://www.tableau.com/" target="_blank">Tableau</a> -->make data manipulation easier. But to acquire large amounts of data, analyze it with NLP, query it and prep it for consumption in other systems, options seem to be limited to enterprise solutions. Even with enterprise software, implementing a smart AI initiative is lenghty, costly and difficult to maintain.
      </p>
      <p>
        At relevance.io, we obsess over delivering AI tools similar to those available to enterprise buyers, while making them affordable and easy-to-use. We want data scientists to be empowered to do what they love the most: crunching data! Long live the <a href="https://blogs.gartner.com/carlie-idoine/2018/05/13/citizen-data-scientists-and-why-they-matter/" target="_blank">Citizen Data Scientist</a>!
      </p>
    </div>

    </section>

    <div class="content">

      <section class="retroaction">

        <h1>Human-centric</h1>
        <p>
          Human interaction is pivotal to make quality ML models: we make sure everything is built-in to facilitate the annotation of training datasets.
        </p>
        <p>
          The best apps are simple and straight forward: we design user experiences that simplify acquisition, analysis, curation, delivery and annotation of data.
        </p>

      </section>

      <section class="quality">

        <h1>Quality & Standards</h1>

        <p>
          Quality, robustness and strict adherance to standards are of paramount importance to us. We make sure the software we deliver is thourougly tested in real-life scenarios.
        </p>
        <p>
          Our upcoming labs apps are just that. Free, useful and data-centric apps developed using the same toolkit that will ship with our commercial products, as they become available.
        </p>
        <p>

      </p>

      </section>

      <section class="privacy">

        <h1>Privacy & Security</h1>
        <p>Our products implement the strictest security standards.</p>
        <p>We also believe you should be able to reclaim or delete any personal data that is stored on our servers. These options are available in all of our apps settings.</p>
        <p>We will never share your data with other companies.</p>

      </section>

    </div>

  </div>

  <app-page-footer></app-page-footer>

</div>
