<app-page-header></app-page-header>

<!-- <div class="page-header">
  <div class="container">
    <h1><a href="/">relevance.io</a> Privacy and Terms</h1>
  </div>
</div> -->

<div class="page-content" id="privacy">

  <div class="container">

      <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
          <div class="menu">
          <h3>Privacy policy</h3>
          <mat-list>
            <a mat-list-item (click)="scrollTo(overview)">Overview</a>
            <a mat-list-item (click)="scrollTo(browsingData)">Browsing data</a>
            <a mat-list-item (click)="scrollTo(searchHistory)">Search history</a>
            <a mat-list-item (click)="scrollTo(sessionInformation)">Session information</a>
            <a mat-list-item (click)="scrollTo(location)">Location</a>
            <a mat-list-item (click)="scrollTo(basicAccountInformation)">Basic account information</a>
            <a mat-list-item (click)="scrollTo(thirdPartySignin)">Thrid-party sign in</a>
            <a mat-list-item (click)="scrollTo(userProfileInformation)">User profile information</a>
            <a mat-list-item (click)="scrollTo(bookmarks)">Bookmarks</a>
            <a mat-list-item (click)="scrollTo(mailingList)">Mailing list</a>
            <a mat-list-item (click)="scrollTo(communications)">Communication</a>
            <a mat-list-item (click)="scrollTo(reclaimYourData)">Reclaim your data</a>
            <a mat-list-item (click)="scrollTo(annotationData)">Annotation data</a>
           </mat-list>
           <!-- <h3>Terms of service</h3>
           <mat-list>
            <a mat-list-item (click)="scrollTo(whoMayUse)">Who may use the services</a>
            <a mat-list-item (click)="scrollTo(usingTheServices)">Using the services</a>
            <a mat-list-item (click)="scrollTo(usingTheServices)">Your account</a>
            <a mat-list-item (click)="scrollTo(usingTheServices)">Your license ti use the services</a>
            <a mat-list-item (click)="scrollTo(usingTheServices)">Ending these terms</a>
            <a mat-list-item (click)="scrollTo(usingTheServices)">Limitations of liability</a>
            <a mat-list-item (click)="scrollTo(usingTheServices)">General</a>
           </mat-list> -->
          </div>

        </mat-drawer>
        <mat-drawer-content>

          <section #overview class="overview">

            <h1>Privacy Policy</h1>
            <h2>We do not sell ads, nor do we sell your personal information. We make sure you can always know about, download and delete from our servers the data we store about you.</h2>

            <p>
              This privacy policy explains how and why we handle information, collected through relevance.io, departed.io, associated websites, and any other app we provide (collectively, our “Sites”). This privacy policy is part of our Terms of Use.
            </p>

          </section>

          <section #browsingData>

            <h1>Browsing data</h1>

            <p>The data referred to in this section might be described as metadata. it will be collected automatically when you use one of our Sites.</p>
            <p>We use the industry standard Google Analytics to collect and report on our users behaviour and browsing patterns. This data is collected anonymously and is used under the <a href="https://policies.google.com/technologies/partner-sites" target="_blank">Google Analytics Terms of Services</a>. We use this data to know and understand better our users, which enables smarter marketing campaigns and helps us improve user experience and such.</p>
            <p>If you want to know how Google uses data when you use our Sites, visit <a href="https://www.google.com/policies/privacy/partners/" target="_blank">https://www.google.com/policies/privacy/partners/</a>.</p>
            <p>Although we do not pass your identity to them, Google might be able to reconcile some Personal Data from the browser data they collect in order to personalize the ads they show you elsewhere. There is nothing we can do about it, but rest assured that we do our best to make it difficult for them to identify you.</p>
            <p>If you wish to delete the data Google stores about you, <a href="https://support.google.com/websearch/answer/465" target="_blank">follow these instructions</a>.</p>
            <p>If you wish to selectively allow browsing data collection, you can use one of the many <a href="https://www.comparitech.com/blog/vpn-privacy/best-free-ad-blockers/" target="_blank">ad-blocker browser add-ons</a>.</p>
            <p>We also collect your IP address to help us maintain our servers and avoid security threats. We get this IP address through logs and these are kept on our servers. While we do not use this data to approximate location, you should know that your IP address can be used to do so.</p>

          </section>

          <section #searchHistory>
            <h1>Search History</h1>
            <p>When you browse our Sites, we will collect the terms searched and used through logs. This will be stored on our servers, with no connection to your IP address or any other Personal Data. We need this information to improve the quality of our products. This data will be kept as long as we believe it to be pertinent to our products.</p>
          </section>

          <section #sessionInformation>
            <h1>Session Information</h1>
            <p>If you use our Sites while logged on your account, we will collect your user identifier and time of activity. We simply have to do so for you to access site functionality. This data will be kept in our database and in your browser's storage. To erase it from your browser, you can clear the cache, we can’t do it in your stead.</p>
            <p>This data will can erased from your account if you choose to delete it.</p>
          </section>

          <section #location>
            <h1>Location</h1>
            <p>We may ask you if you would like to disclose your location, only when such information is needed for a specific interaction required by you. Per example, if you want to see customized search results based on your current location. In such circumstances, we will ask you explicitly to allow your browser to supply it. We do not try to guess your location without your permission. You can revoke this permission through the settings in your browser. </p>
          </section>

          <section #basicAccountInformation>
            <h1>Basic account information</h1>
            <p>Although our free Sites can be used without creating an account, you may create one in order to improve your user experience.</p>
            <p>The only Personal Data we collect is the one you willingly share with us. This information is used mainly to show you more relevant results in your searches. All Personal Data is saved in our database, with some in your web browser’s local storage. As its sole purpose is to improve your user experience, we do not share this data, unless required by law.</p>
            <p>Excluding your email address, which can only be removed upon deletion of your account - since your login depends on it - all Personal Data can also be removed manually by editing your profile, with an immediate effect, as we do not keep an history of this information. All Personal Data will be erased with your account if you choose to delete it. Some data may still linger in your browser local storage after the deletion of your account. You’ll have to clear the cache and local storage to remedy this situation.</p>
            <p>You can download the data we store in your profile. This is also a way to see everything we collect to make your experience better.</p>
          </section>

          <section #thirdPartySignin>
            <h1>Third-party sign in (Facebook, Gmail, etc.)</h1>
            <p>To create an account on one of our Sites, you will be asked to provide an email address to authenticate your account. This email address may or may not be linked to Facebook, Google or any other third party accounts.</p>
            <p>Such third parties may incidentally provide us with your full name, date of birth, or other information, all of which can be removed from your profile manually afterwards. The information we receive may influence your search results and improve accuracy. In this case, the information is considered “pulled” from the account. You can choose to register with an email address not associated with such third-party services.</p>
          </section>

          <section #userProfileInformation>
            <h1>User profile information</h1>
            <p>Some of Sites may allow you to provide us with more information about yourself such as your name, date of birth or where you live. This is done to improve the accuracy of the search results presented to you. You may change or erase this information at any time by modifying your Profile settings.
            <h1>Personal interests or "Tweaks"</h1>
            <p>You may choose to customize your search results. You can do so by providing information such as a family name, a place or an organization. This is done on a voluntary basis on your part and can be modified at any time with immediate effect, as we do not keep a history of these changes.</p>
          </section>

          <section #bookmarks>
            <h1>Bookmarks</h1>
            <p>Certain services allow you to save or “bookmark” specific items. This information is stored in your user profile. They are kept as long as your account exists or until you remove them from your bookmarks list.</p>
          </section>

          <section #mailingList>
            <h1>Mailing lists</h1>
            <p>You may choose to be part of any of our mailing lists to receive news and updates about any of our Sites. We use Mailchimp for email notifications, newsletters or other marketing emails. The data collected is used under <a href="https://mailchimp.com/legal/terms/" target="_blank">Mailchimp standard Terms of Use</a>.</p>
            <p>Your email will be used only to send you communications related to the service you signed up for. We will never sell our mailing lists to other organizations.</p>
            <p>You can choose to unsubscribe from any or all of these emails at any time.</p>
          </section>

          <section #communications>
            <h1>Communications</h1>
            <p>You may choose to communicate with us for different reasons. Be aware that while we may keep the content of such communications to improve our services or for marketing purposes, as long as we believe it relevant, your name or any other personal information will never be used, shown or distributed in any context. For extra safety, we urge you not to disclose any personal information in such communications.</p>
          </section>

          <section #reclaimYourData>
            <h1>Reclaim your data</h1>
            <p>Our Sites enable you to download and delete the data you shared with us via each of our services. You will find, under Account settings, the tools you need to manage the data that you store with us. You can look for a blue button that say “Download your data”, or a read one that reads "Delete your data". We have nothing to hide from you. Your Personal Data is YOURS.</p>
          </section>

          <section #annotationData>
            <h1>Annotation data</h1>
            <p> When you submit a correction on any of our Sites, we take your submission and store it under an anonymous identifier in our database, unless explictly said otherwise. These corrections are called annotations. Annotations are then fed to our Machine Learning algorithms in order to improve the way we automatically extract metadata from textual content. These annotations will be stored as long as we believe them to be useful to our products.</p>
          </section>

        </mat-drawer-content>
      </mat-drawer-container>

  </div>

  <app-page-footer></app-page-footer>

</div>
