<app-page-header></app-page-header>

<div class="page-content" id="products">

    <!-- <h1>Geeky, yet easy to use</h1> -->
    <h1>A friendlier way to <strong>acquire</strong>, <strong>enrich</strong>, <strong>transform</strong>, and <strong>deliver</strong> data across channels</h1>

    <!-- <div class="doodle">Appliance doodle</div> -->

    <!-- <h2>A comprehensive, efficient, robust and user-friendly approach for your most demanding AI initiatives, without breaking the bank.</h2>
   -->
      <!-- <h2>Geeky, yet easy to use</h2>
      <p>The tools you need to gather, enrich and curate your data.</p> -->
    <section class="products">

      <div>

        <h3>Developer</h3>
        
        <img src="../../assets/images/doodle-api.png">
        <!-- <div class="cta">
          <button mat-button (click)="openContactDialog()">Buy now</button>
        </div> -->

<!-- 
        <p class="release">Fall 2020</p>

        <p class="info">
           Ranging from simple normalization to complex clustering, these are powerful and easy-to-integrate APIs we use in our own products.
        </p> -->

      </div>

      <div>

        <h3>Workshop</h3>

        <img src="../../assets/images/doodle-library.png">
        <!--         
        Studio
        Den
        Playroom
        Salon
        Atelier
        Kitchen
        Shelf
        Cabinet
        Arbour
        -->
        <!-- <div class="cta">
          <button mat-button (click)="openContactDialog()">Enlist for beta</button>
        </div> -->

        <!-- <p class="release">Winter 2021</p>

        <p class="info">
          A fully integrated suite of tools providing everything you need to import, manipulate and prepare datasets for other systems. 
        </p> -->

      </div>

      <div>

        <h3>Annotate</h3>

        <img src="../../assets/images/doodle-annotate.png">

          <!-- <p class="release">Spring 2021</p> -->

        <!-- <div class="cta">
          <button mat-button (click)="openContactDialog()">Notify me</button>
        </div> -->

        <!-- <p class="info">
          An innovative way to source annotation and improve Machine Learning models without the usual overhead and manual tasks. 
        </p> -->

      </div>

      <div class="cta">
        <button mat-button (click)="openContactDialog()">Notify me when ready</button>
      </div>

    </section>
<!-- 
    <section class="features">

      <h2>Platform features</h2>

      <ul>
        <li><a href="">Ingest</a></li>
        <li><a href="">Analyze</a></li>
        <li><a href="">Curate</a></li>
        <li><a href="">Deliver</a></li>
        <li><a href="">Augment</a></li>
      </ul>
      
    </section>

    <section class="deployment">

      <h2>No nonsense deployment</h2>
      <ul>
        <li>Micro services</li>
        <li>Containers</li>
        <li>Secure</li>
      </ul>
      
    </section>

    <section class="applications">

      <h2>Use <strong>relevance.io</strong> as middleware for...</h2>
      <ul>
        <li>Site search / Enterprise search</li>
        <li>Insight discovery</li>
        <li>Data preparation for vizualization</li>
        <li>Annotation sourcing</li>
        <li>Machine-Learning model building & refinement</li>
        <li>Extract Transform Load (ETL)</li>
        <li>Data enrichement</li>
        <li>Recommendation engine</li>
      </ul>
      
    </section> -->

    <section class="industries">
    
      <div>

       <h2>Research & academia</h2>

      </div>

      <div>

       <h2>Data science</h2>

      </div>

      <div>

        <h2>Marketing</h2>

      </div>

      <div>

       <h2>AI</h2>

      </div>

      <!-- <h2>Use <strong>relevance.io</strong> as middleware for...</h2>
      <ul>
        <li>Site search / Enterprise search</li>
        <li>Insight discovery</li>
        <li>Data preparation for vizualization</li>
        <li>Annotation sourcing</li>
        <li>Machine-Learning model building & refinement</li>
        <li>Extract Transform Load (ETL)</li>
        <li>Data enrichement</li>
        <li>Recommendation engine</li>
      </ul> -->
      
    </section>

  <app-page-footer></app-page-footer>
  
</div>

