<app-page-header></app-page-header>

<div class="page-content" id="team">

  <div class="container">

    <h1>No tech debt allowed.</h1>

    <section class="intro">

      <!-- <p>
        Over the years, we've been called idealists, elitists, unrealistic...
      </p> -->
      <!-- <p>
        Truth is, we don't settle for mediocrity.
      </p> -->
      <!-- <p>
        We love building robust and easy-to-use software.
      </p> -->
      <!-- <p>
        We might fail, but eh, we love doing what we do.
      </p> -->
      
    </section>

    <section class="members">

      <div class="card">

        <img src="../../assets/images/avatar.png">

        <h3>Francis</h3>
        <h4>Tech</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nibh. Aliquam arcu diam, blandit mollis nibh vitae, porta fermentum elit. </p>

      </div>

      <div class="card">

        <img src="../../assets/images/avatar.png">

        <h3>Eric </h3>
        <h4>Product</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nibh. Aliquam arcu diam, blandit mollis nibh vitae, porta fermentum elit. </p>

      </div>

      <div class="card">

        <img src="../../assets/images/avatar.png">

        <h3>Marie-Lou</h3>
        <h4>Operations</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nibh. Aliquam arcu diam, blandit mollis nibh vitae, porta fermentum elit. </p>

      </div>

      <div class="card">

        <img src="../../assets/images/avatar.png">

        <h3>Rami</h3>
        <h4>Marketing</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nibh. Aliquam arcu diam, blandit mollis nibh vitae, porta fermentum elit. </p>

      </div>

      <div class="card">

        <img src="../../assets/images/avatar.png">

        <h3>Daniel</h3>
        <h4>Coding</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nibh. Aliquam arcu diam, blandit mollis nibh vitae, porta fermentum elit. </p>

      </div>

      <div class="card">

        <img src="../../assets/images/avatar.png">

        <h3>Ethan</h3>
        <h4>Intern</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et elementum nibh. Aliquam arcu diam, blandit mollis nibh vitae, porta fermentum elit. </p>

      </div>


    </section>

  </div>

  <app-page-footer></app-page-footer>
  
</div>

