<header>

  <div class="container">

    <h1>
      <a href="/">{{ 'top_nav_brand' | translate }}</a>
    </h1>

    <nav>
      <!-- <a href="/products">{{ 'top_nav_products' | translate }}</a> -->
      <!-- <a href="/mission">{{ 'top_nav_mission' | translate }}</a> -->
      <!-- <a href="/labs">{{ 'top_nav_labs' | translate }}</a> -->
      <!-- <a href="/team">{{ 'top_nav_team' | translate }}</a> -->
      <!-- <a href="/docs">{{ 'top_nav_docs' | translate }}</a> -->
      <button mat-button (click)="openContactDialog()" class="hide-on-small">{{ 'top_nav_cta' | translate }}</button>
    </nav>

  </div>

</header>
